
<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  
  <div class="welcome-container">
    <img
      alt="Logo RegistrApp"
      class="logo"
      src="https://firebasestorage.googleapis.com/v0/b/proyect2-daf7b.appspot.com/o/Logo_RegistrApp.png?alt=media&token=bd36c9ff-e46a-442d-a830-22025ccb1e75"
    />
    
   
    <h1 class="welcome-title text-blue">𝑩𝒊𝒆𝒏𝒗𝒆𝒏𝒊𝒅𝒐 𝒂 𝑹𝒆𝒈𝒊𝒔𝒕𝒓𝑨𝒑𝒑</h1>
    <h5 class="welcome-subtitle">Pulsa aquí para ingresar</h5>
    
    <ion-button expand="block" color="primary" (click)="navigateToLogin()"> Iniciar Sesion</ion-button>
    
    <h6 class="account-text">¿No tienes cuenta?</h6>
    <ion-button expand="block" fill="clear" color="tertiary">Regístrate</ion-button>
  </div>
</ion-content>
