<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="register-content">
  <div class="welcome-container compact-container">
    <img
      alt="Logo RegistrApp"
      class="logo compact-logo"
      src="https://firebasestorage.googleapis.com/v0/b/proyect2-daf7b.appspot.com/o/Logo_RegistrApp.png?alt=media&token=bd36c9ff-e46a-442d-a830-22025ccb1e75"
    />
    <h1 class="welcome-title compact-title">Crear una Cuenta</h1>
    
    <!-- Formulario de registro -->
    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)" class="register-form compact-form">
      <ion-item class="register-item compact-item" lines="none">
        <ion-input
          name="username"
          type="text"
          placeholder="Nombre de Usuario"
          [(ngModel)]="registerData.username"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="register-item compact-item" lines="none">
        <ion-input
          name="email"
          type="email"
          placeholder="Correo Electrónico"
          [(ngModel)]="registerData.email"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="register-item compact-item" lines="none">
        <ion-input
          name="password"
          [type]="passwordTypeRegister"
          placeholder="Contraseña"
          [(ngModel)]="registerData.password"
          required
        ></ion-input>
        <ion-icon
          [name]="passwordIconRegister"
          slot="end"
          (click)="togglePassword()"
        ></ion-icon>
      </ion-item>
      <ion-button
        expand="block"
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
        class="compact-button"
      >
        Registrarse
      </ion-button>
    </form>

    <!-- Opciones adicionales -->
    <h6 class="account-text compact-text">¿Ya tienes una cuenta?</h6>
    <ion-button
      expand="block"
      fill="clear"
      color="tertiary"
      [routerLink]="['/login']"
      class="compact-button"
    >
      Iniciar Sesión
    </ion-button>
    <ion-button
      expand="block"
      fill="clear"
      color="secondary"
      [routerLink]="['/home']"
      class="compact-button"
    >
      Volver a la Página Principal
    </ion-button>
  </div>
</ion-content>

